<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (C) 2008 Claude Vedovini <http://vedovini.net/>.
    
    This file is part of the DITA Open Platform <http://www.dita-op.org/>.

    The DITA Open Platform is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    The DITA Open Platform is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with The DITA Open Platform.  If not, see <http://www.gnu.org/licenses/>.
-->
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.dita_op.editor.internal.ui.editors.topic.TopicEditor"
            contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
            default="true"
            extensions="dita"
            icon="$nl$/icons/page_code.png"
            id="org.dita_op.editor.TopicEditor"
            name="%TopicEditor.name">
         <contentTypeBinding
               contentTypeId="org.dita_op.dita.topic">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.dita_op.editor.internal.ui.editors.map.MapEditor"
            contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
            default="true"
            extensions="ditamap, bookmap"
            icon="$nl$/icons/book.png"
            id="org.dita_op.editor.MapEditor"
            name="%MapEditor.name">
         <contentTypeBinding
               contentTypeId="org.dita_op.dita.map">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.dita_op.editor.internal.ui.editors.profile.ProfileEditor"
            contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
            default="true"
            extensions="ditaval"
            icon="$nl$/icons/page_gear.png"
            id="org.dita_op.editor.ProfileEditor"
            name="%ProfileEditor.name">
         <contentTypeBinding
               contentTypeId="org.dita_op.dita.processingProfile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="DITAProjectNature"
         name="DITA Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.dita_op.editor.internal.DITAProjectNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.wst.validation.validationbuilder">
      </builder>
   </extension>
   <extension
         id="problem"
         name="DITA Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.wst.validation.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="invalidScope"
         name="Invalid Scope"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.dita_op.editor.problem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="missingTarget"
         name="Missing referenced target"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.dita_op.editor.problem">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <template
            autoinsert="true"
            contextTypeId="xml_all"
            description="%MapTemplate.description"
            icon="$nl$/icons/book.png"
            id="org.dita_op.editor.template.map"
            name="%MapTemplate.name">
         <pattern>&lt;?xml version=&quot;1.0&quot; encoding=&quot;${encoding}&quot;?&gt;
&lt;!DOCTYPE map PUBLIC &quot;-//OASIS//DTD DITA Map//EN&quot; &quot;map.dtd&quot; &gt;
&lt;map xml:lang=&quot;${lang}&quot;&gt;
	&lt;title&gt;${cursor}&lt;/title&gt;
	&lt;topicmeta&gt;
		&lt;author&gt;${user}&lt;/author&gt;
	&lt;/topicmeta&gt;
&lt;/map&gt;</pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="xml_all"
            description="%BookmapTemplate.description"
            icon="$nl$/icons/book.png"
            id="org.dita_op.editor.template.bookmap"
            name="%BookmapTemplate.name">
         <pattern><![CDATA[<?xml version="1.0" encoding="${encoding}"?>
<!DOCTYPE bookmap PUBLIC "-//OASIS//DTD DITA BookMap//EN" "bookmap.dtd" >
<bookmap xml:lang="${lang}">
	<title>${cursor}</title>
	<bookmeta>
		<author>${user}</author>
	</bookmeta>
</bookmap>]]></pattern>
      </template>
     <template
            autoinsert="true"
            contextTypeId="xml_all"
            description="%TopicTemplate.description"
            icon="$nl$/icons/page_code.png"
            id="org.dita_op.editor.template.topic"
            name="%TopicTemplate.name">
         <pattern>&lt;?xml version=&quot;1.0&quot; encoding=&quot;${encoding}&quot;?&gt;
&lt;!DOCTYPE topic PUBLIC &quot;-//OASIS//DTD DITA Topic//EN&quot; &quot;topic.dtd&quot;&gt;
&lt;topic id=&quot;${id}&quot; xml:lang=&quot;${lang}&quot;&gt;
	&lt;title&gt;${title}&lt;/title&gt;
	&lt;prolog&gt;
		&lt;author&gt;${user}&lt;/author&gt;
	&lt;/prolog&gt;
	&lt;body&gt;&lt;/body&gt;
&lt;/topic&gt;</pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="xml_all"
            description="%ConceptTemplate.description"
            icon="$nl$/icons/page_code.png"
            id="org.dita_op.editor.template.concept"
            name="%ConceptTemplate.name">
         <pattern>&lt;?xml version=&quot;1.0&quot; encoding=&quot;${encoding}&quot;?&gt;
&lt;!DOCTYPE concept PUBLIC &quot;-//OASIS//DTD DITA Concept//EN&quot; &quot;concept.dtd&quot;&gt;
&lt;concept id=&quot;${id}&quot; xml:lang=&quot;${lang}&quot;&gt;
	&lt;title&gt;${title}&lt;/title&gt;
	&lt;prolog&gt;
		&lt;author&gt;${user}&lt;/author&gt;
	&lt;/prolog&gt;
	&lt;conbody&gt;&lt;/conbody&gt;
&lt;/concept&gt;</pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="xml_all"
            description="%TaskTemplate.description"
            icon="$nl$/icons/page_code.png"
            id="org.dita_op.editor.template.task"
            name="%TaskTemplate.name">
         <pattern>&lt;?xml version=&quot;1.0&quot; encoding=&quot;${encoding}&quot;?&gt;
&lt;!DOCTYPE task PUBLIC &quot;-//OASIS//DTD DITA Task//EN&quot; &quot;task.dtd&quot; &gt;
&lt;task id=&quot;${id}&quot; xml:lang=&quot;${lang}&quot;&gt;
	&lt;title&gt;${title}&lt;/title&gt;
	&lt;prolog&gt;
		&lt;author&gt;${user}&lt;/author&gt;
	&lt;/prolog&gt;
	&lt;taskbody&gt;&lt;/taskbody&gt;
&lt;/task&gt;</pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="xml_all"
            description="%ReferenceTemplate.description"
            icon="$nl$/icons/page_code.png"
            id="org.dita_op.editor.template.reference"
            name="%ReferenceTemplate.name">
         <pattern>&lt;?xml version=&quot;1.0&quot; encoding=&quot;${encoding}&quot;?&gt;
&lt;!DOCTYPE reference PUBLIC &quot;-//OASIS//DTD DITA Reference//EN&quot; &quot;reference.dtd&quot; &gt;
&lt;reference id=&quot;${id}&quot; xml:lang=&quot;${lang}&quot;&gt;
	&lt;title&gt;${title}&lt;/title&gt;
	&lt;prolog&gt;
		&lt;author&gt;${user}&lt;/author&gt;
	&lt;/prolog&gt;
	&lt;refbody&gt;&lt;/refbody&gt;
&lt;/reference&gt;</pattern>
      </template>
      <resolver
            class="org.dita_op.editor.internal.ui.templates.LocaleVariableResolver"
            contextTypeId="xml_all"
            description="%LocaleResolver.description"
            name="%LocaleResolver.name"
            type="lang">
      </resolver>
      <resolver
            class="org.dita_op.editor.internal.ui.templates.IdVariableResolver"
            contextTypeId="xml_all"
            description="%IdResolver.description"
            name="%IdResolver.name"
            type="id">
      </resolver>
      <resolver
            class="org.dita_op.editor.internal.ui.templates.IdVariableResolver"
            contextTypeId="xml_attribute"
            description="%IdResolver.description"
            name="%IdResolver.name"
            type="id">
      </resolver>
      <template
            autoinsert="true"
            contextTypeId="xml_attribute"
            description="%IdResolver.description"
            id="org.dita_op.editor.template1"
            name="%IdResolver.name">
         <pattern>
            id="${id}"
         </pattern>
      </template>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.dita_op.editor.wizards"
            name="%DITAWizardsCategory.name">
      </category>
      <wizard
            category="org.dita_op.editor.wizards"
            class="org.dita_op.editor.internal.ui.wizards.DITAProjectWizard"
            icon="$nl$/icons/book.png"
            id="org.dita_op.editor.DITAProjectWizard"
            name="%ProjectWizard.name"
            project="true">
      </wizard>
      <wizard
            category="org.dita_op.editor.wizards"
            class="org.dita_op.editor.internal.ui.wizards.TopicWizard"
            icon="icons/page_code.png"
            id="org.dita_op.editor.wizards.TopicWizard"
            name="%TopicWizard.name">
      </wizard>
      <wizard
            category="org.dita_op.editor.wizards"
            class="org.dita_op.editor.internal.ui.wizards.ConceptWizard"
            icon="icons/page_code.png"
            id="org.dita_op.editor.wizards.ConceptWizard"
            name="%ConceptWizard.name">
      </wizard>
      <wizard
            category="org.dita_op.editor.wizards"
            class="org.dita_op.editor.internal.ui.wizards.TaskWizard"
            icon="icons/page_code.png"
            id="org.dita_op.editor.wizards.TaskWizard"
            name="%TaskWizard.name">
      </wizard>
      <wizard
            category="org.dita_op.editor.wizards"
            class="org.dita_op.editor.internal.ui.wizards.ReferenceWizard"
            icon="icons/page_code.png"
            id="org.dita_op.editor.wizards.ReferenceWizard"
            name="%ReferenceWizard.name">
      </wizard>
      <wizard
            category="org.dita_op.editor.wizards"
            class="org.dita_op.editor.internal.ui.wizards.MapWizard"
            icon="icons/book.png"
            id="org.dita_op.editor.wizards.MapWizard"
            name="%MapWizard.name">
      </wizard>
      <wizard
            category="org.dita_op.editor.wizards"
            class="org.dita_op.editor.internal.ui.wizards.BookmapWizard"
            icon="icons/book.png"
            id="org.dita_op.editor.wizards.BookmapWizard"
            name="%BookmapWizard.name">
      </wizard>
      <wizard
            category="org.dita_op.editor.wizards"
            class="org.dita_op.editor.internal.ui.wizards.ProfileWizard"
            icon="icons/page_gear.png"
            id="org.dita_op.editor.wizards.ProfileWizard"
            name="%ProfileWizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
      <sourceViewerConfiguration
            class="org.dita_op.editor.internal.ui.editors.DITASourceViewerConfiguration"
            target="org.dita_op.dita.topic, org.dita_op.dita.map">
      </sourceViewerConfiguration>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.dita_op.editor.ui.quickfix.MissingTargetResolutionGenerator"
            markerType="org.dita_op.editor.missingTarget">
      </markerResolutionGenerator>
   </extension>
   <extension
         id="ScopeValidator"
         name="%ScopeValidator.name"
         point="org.eclipse.wst.validation.validator">
      <validator>
         <run
               async="true"
               class="org.dita_op.editor.internal.validation.ScopeValidator"
               enabled="true"
               fullBuild="true"
               incremental="true">
         </run>
         <contentTypeBinding
               contentTypeId="org.dita_op.dita">
         </contentTypeBinding>
         <projectNature
               id="org.dita_op.editor.DITAProjectNature"
               include="true">
         </projectNature>
         <markerId
               markerIdValue="invalidScope">
         </markerId>
         <dependentValidator
               depValValue="true">
         </dependentValidator>
         <helper
               class="org.eclipse.wst.xml.core.internal.validation.core.Helper">
         </helper>
      </validator>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.sourcevalidation">
      <validator
            class="org.dita_op.editor.internal.validation.ScopeValidator"
            id="org.dita_op.editor.internal.validation.ScopeValidator"
            scope="total">
         <contentTypeIdentifier
               id="org.dita_op.dita">
            <partitionType
                  id="org.eclipse.wst.xml.XML_DEFAULT">
            </partitionType></contentTypeIdentifier>
      </validator>
   </extension>
   <extension
         id="TargetValidator"
         name="%TargetValidator.name"
         point="org.eclipse.wst.validation.validator">
      <validator>
         <run
               async="true"
               class="org.dita_op.editor.internal.validation.TargetValidator"
               enabled="true"
               fullBuild="true"
               incremental="true">
         </run>
         <contentTypeBinding
               contentTypeId="org.dita_op.dita">
         </contentTypeBinding>
         <projectNature
               id="org.dita_op.editor.DITAProjectNature"
               include="true">
         </projectNature>
         <markerId
               markerIdValue="missingTarget">
         </markerId>
         <dependentValidator
               depValValue="true">
         </dependentValidator>
         <helper
               class="org.eclipse.wst.xml.core.internal.validation.core.Helper">
         </helper>
      </validator>
   </extension>
   <extension
         id="MarkupValidator"
         name="%MarkupValidator.name"
         point="org.eclipse.wst.validation.validator">
      <validator>
         <run
               async="true"
               class="org.dita_op.editor.internal.validation.MarkupValidator"
               enabled="true"
               fullBuild="true"
               incremental="true">
         </run>
         <contentTypeBinding
               contentTypeId="org.dita_op.dita">
         </contentTypeBinding>
         <projectNature
               id="org.dita_op.editor.DITAProjectNature"
               include="true">
         </projectNature>
         <dependentValidator
               depValValue="true">
         </dependentValidator>
         <helper
               class="org.eclipse.wst.xml.core.internal.validation.core.Helper">
         </helper>
      </validator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.dita_op.editor.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="org.dita_op.editor.menu"
               label="%menu.label"
               path="additions">
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.dita_op.editor.actions.MigrateToM3"
               enablesFor="1"
               id="org.dita_op.editor.newAction"
               label="%action.migrate.label"
               menubarPath="org.dita_op.editor.menu/additions"
               tooltip="%action.migrate.tooltip">
         </action>
      </objectContribution>
   </extension>

</plugin>
