#Wed Dec 03 11:29:24 CET 2008
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.eclipse.url=http\://eclipsemirror.yoxos.com/eclipse.org/technology/epp/downloads/release/europa/winter/eclipse-jee-europa-winter-linux-gtk-x86_64.tar.gz
pluginbuilder.features=org.dita_op.feature
autotestsuite.class.inclusions=.*
pluginbuilder.server.user=dita-op
pluginbuilder.is.svn=true
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=http\://svn.dita-op.org/svnroot/dita-op/trunk/editor
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.svn.password=anonymous
pluginbuilder.svn.user=anonymous
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
