<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (C) 2008 Claude Vedovini <http://vedovini.net/>.
    
	This file is part of the DITA Open Platform <http://www.dita-op.org/>.
	
	The DITA Open Platform is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	The DITA Open Platform is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with The DITA Open Platform.  If not, see <http://www.gnu.org/licenses/>.
-->
<plugin>
	<extension-point id="org.dita_op.dita.dtd.catalogs" name="DITA DTD Catalogs" schema="schema/catalogs.exsd"/>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
        base-type="org.eclipse.core.runtime.xml"
        file-extensions="xml, dita, ditamap, ditaval"
        id="org.dita_op.dita"
        name="%DITAContentType.name">
		</content-type>
		<content-type base-type="org.dita_op.dita"
			file-extensions="dita, xml" id="org.dita_op.dita.topic"
			name="%TopicContentType.name">
		</content-type>
		<content-type base-type="org.dita_op.dita"
			file-extensions="ditamap" id="org.dita_op.dita.map"
			name="%MapContentType.name">
		</content-type>
      <content-type
            base-type="org.dita_op.dita"
            file-extensions="ditaval"
            id="org.dita_op.dita.processingProfile"
            name="%ProcessingProfileContentType.name">
      </content-type>
	</extension>
 <extension
       point="org.eclipse.wst.common.uriresolver.resolverExtensions">
	<resolverExtension
		class="org.dita_op.dita.dtd.internal.catalog.DITACatalog"
		priority="high"
		stage="postnormalization">
	</resolverExtension>
 </extension>
 <extension
       point="org.dita_op.dita.dtd.catalogs">
    <catalog
    	  id="org.dita_op.dita.dtd10"
          uri="dtd10/catalog-dita.xml"
          name="%DITACatalog10.name">
    </catalog>
    <catalog
    	  id="org.dita_op.dita.dtd101"
          uri="dtd101/catalog-dita.xml"
          name="%DITACatalog101.name">
    </catalog>
    <catalog
    	  id="org.dita_op.dita.dtd11"
          uri="dtd11/catalog-dita.xml"
          name="%DITACatalog11.name">
    </catalog>
    <catalog
          id="org.dita_op.dita.dtd12"
          name="%DITACatalog12.name"
          uri="dtd12/catalog-dita.xml">
    </catalog>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.dita_op.dita.dtd.internal.ui.preferences.DITACatalogPreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.dita_op.core.ui.preferences.DITAPreferencePage"
          class="org.dita_op.dita.dtd.internal.ui.preferences.DITACatalogPreferencePage"
          id="org.dita_op.dita.dtd.internal.ui.preferences.DITAPreferencePage"
          name="%DITACatalogPage.name">
    </page>
 </extension>
</plugin>
