<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.dita_op.dost.launcher.DOSTLaunchConfigurationType">
<stringAttribute key="args.input" value="${resource_loc:/documentation/about.ditamap}"/>
<booleanAttribute key="org.eclipse.ant.ui.DEFAULT_VM_INSTALL" value="true"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;launchConfigurationWorkingSet editPageId=&quot;org.eclipse.ui.resourceWorkingSetPage&quot; factoryID=&quot;org.eclipse.ui.internal.WorkingSetFactory&quot; label=&quot;working set&quot; name=&quot;working set&quot;&gt;&#10;&lt;item factoryID=&quot;org.eclipse.ui.internal.model.ResourceFactory&quot; path=&quot;/www&quot; type=&quot;4&quot;/&gt;&#10;&lt;/launchConfigurationWorkingSet&gt;}"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.launching.macosx.MacOSXType/JVM 1.5.0 (MacOS X Default)"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.ant.internal.ui.antsupport.InternalAntRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx1024m"/>
<mapAttribute key="other.args">
<mapEntry key="dita.extname" value=".dita"/>
<mapEntry key="args.wp.password" value="${string_prompt:password}"/>
<mapEntry key="args.wp.xmlrpc" value="http://www.dita-op.org/blog/xmlrpc.php"/>
<mapEntry key="args.wp.username" value="admin"/>
<mapEntry key="args.wp.postid" value="2"/>
</mapAttribute>
<stringAttribute key="output.dir" value="${workspace_loc:/www/inc}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
<stringAttribute key="transtype" value="wordpress"/>
</launchConfiguration>
